
.main-index {
  .tm-welcome-container {
    position: absolute;
    width: 100%;
    height: fit-content ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;

    .tm-welcome-container-inner {
      margin-top: 30%;
      .e-con{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        .e-con-item{
          font-family: "Yeseva One",serif;
          .e-con-number{
            font-size: 70px;
            font-weight: 800;
            min-width: 170px;
            color: #e6df32;
          }
          .e-con-text{
            font-size: 30px;
            font-weight: 500;
            line-height: 2.5;
          }
        }
        @media screen and (max-width: 430px){
          display: grid;
          grid-template-columns: auto auto;
          grid-gap:20px;
          margin-top: 200px;
          .e-con-item{
            .e-con-number{
              font-size: 30px;
            }
            .e-con-text{
              font-size: 20px;
            }
          }
        }
      }
      .btn {
        padding: 15px 60px;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
      }
      .tm-btn-animate {
        position: relative;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.3s ease;
      }

      .tm-btn-animate:before {
        left: 0;
        top: -100%;
        position: absolute;
        height: 100%;
        width: 100%;
        line-height: 2.5;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: 900;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }

      .tm-btn-animate:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }

      .tm-btn-animate:hover:before { top: 13px; }

      .tm-btn-animate span {
        display: inline-block;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.3s;
        -webkit-backface-visibility: hidden;
        -moz-transition: all 0.3s;
        -moz-backface-visibility: hidden;
        transition: all 0.3s;
        backface-visibility: hidden;
      }

      .tm-btn-animate:hover span {
        -webkit-transform: translateY(300%);
        -moz-transform: translateY(300%);
        -ms-transform: translateY(300%);
        transform: translateY(300%);
      }
      .tm-btn-cta {
        color: white;
        background-color: rgba(0,0,0,0.5);
      }
      .tm-btn-cta:before { font-size: 180%; }
      .tm-icon-down:before { content: '\21E9'; }
      .tm-btn-cta:hover { color: white; }
      @media screen and (max-width:430px) {
        margin-top: 20%;
      }
    }

    .tm-welcome-text {
      font-size: 1.6rem;
      @media screen and (max-width: 430px){
        display: none;
      }
    }
  }

  #tm-video-container {
    max-height: 800px;

    video {
      max-height: 800px;
      object-fit: cover;
      width: 100vw;
    }
  }
}

.container-fluid {
  #content {
    max-width: 1422px;
    padding-top: 80px;
    padding-bottom: 35px;
    .tm-page-title {
      font-size: 2.5rem;
    }

    .tm-catalog-item-list {
      min-height: 500px;
      justify-content: space-between;
    }

    .tm-catalog-item {
      max-width: 462px;
      display: flex;
      flex-direction: column;
      margin-bottom: 64px;
    }

    .tm-thumbnail-container {
      overflow: hidden;
    }

    .tm-thumbnail-container img {
      transition: all 0.3s ease;
    }

    .tm-thumbnail-container:hover img {
      transform: scale(1.2) rotate(5deg);
    }

    .tm-img-overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .tm-overlay-icon {
      color: #a7a7a7;
      opacity: 1;
      font-size: 2rem;
      padding: 10px 15px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 8px;
      z-index: 1002;
      transition: all 0.3s ease;
    }

    .tm-img-overlay:hover {
      background-color: transparent;

      svg {
        opacity: 0;
      }
    }

    .tm-img-overlay:hover .tm-overlay-icon {
      opacity: 0;

    }

    .tm-catalog-item-description {
      flex: 1;
      .tm-catalog-item-text{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .tm-categories-container {
      display: flex;
      align-items: center;
    }

    .tm-categories-text {
      margin-right: 16px;
      font-size: 1.5rem!important;
    }

    .tm-category-list {
      font-size: 1.75rem;
    }

    .tm-category-item {
      margin: 16px;
      font-size: 20px;
    }

    .tm-category-link {
      color: #3399CC;
      padding: 10px;
      border-bottom: 3px solid transparent;
    }

    .tm-category-link.active,
    .tm-category-link:hover {
      border-bottom: 3px solid #3399CC;
      color: #3399CC;
    }

    .tm-paging-link {
      background-color: #F4F4F4;
      margin-right: 12px;
      font-size: 1.5rem;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.tm-paging-link {
  background-color: #F4F4F4;
  margin-right: 12px;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  justify-content: center;
  .active {
    a {
      background-color: #CCC!important;
      color: #666666!important;
    }
  }
}

