.tm-site-header {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px;
  .container-fluid{
    .row{
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      align-items: center;
    }
  }
  .tm-logo-container {
    display: flex;
    padding: 15px;
    width: 320px;
    height: 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg{
      height: 100px;
    }
  }
  .tm-site-logo { font-size: 3rem; }
  .tm-site-name { font-size: 1.9rem; }
  .tm-bg-gray { background-color: #F4F4F4; }
  .tm-text-primary { color: #3399CC; }
  .tm-text-secondary { color: #3CAFAF; }

  .tm-nav-link {
    color: #fff;
    font-size: 1.4rem;
  }

  #tm-main-nav .nav-item .nav-link { border-bottom: 1px solid transparent;cursor: pointer }
  .active{
    //border-bottom: 1px solid white;
    color: #fff;
  }
  #tm-main-nav .nav-item.active .nav-link,
  #tm-main-nav .nav-item:hover .nav-link {
    border-bottom: 1px solid white;
    color: #fff;
  }
}
#navbar-nav{
  justify-content: end;
}
@media screen and (max-width:430px) {
  .tm-site-header{
    .row{
      align-items: flex-start!important;
    }
  }
  .tm-logo-container{
    justify-content: space-between!important;
    padding: 0!important;
  }

  #tm-main-nav{
    padding: 0!important;
  }
  .tm-site-header .tm-nav-link{
    font-size: 12px!important;
  }
}