.header-submit-video{
  position: relative;
  width: 100%;
  height: 300px ;
  object-fit: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/swag-video-fcf45.appspot.com/o/img%2Fcontact-2.jpg?alt=media&token=5f08c483-5378-4d46-ae85-166a17271cbc");
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.37);
    width: 100%;
    height: 100%;
  }
}
.content-submit-video{
  max-width: 1422px;
  margin-left: auto;
  margin-right: auto;
  .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1{
      text-align: center;
    }
    ul{
      max-width: 800px;
      list-style: circle;
    }
  }
  .form-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .form{
      width:400px;
      .input{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-bottom: 20px;
        .file {
          position: relative;
        }
        .error{
          color: red;
          font-style: italic;
        }
        .input-position {
          .input-file {
            cursor: pointer;
            background: rgba(232, 232, 232, 0.85);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            .progress{
              height: unset;
            }
            .icon-loading {
              display: flex;
              flex-direction: column;
              align-items: center;
              position: absolute;

              p {
                color: #000;
              }
            }

            #position {
              opacity: 0;
              min-height: 100px;
              cursor: pointer;
            }
          }
        }
        input,textarea{
          border: 1px solid #000;
          border-radius: 5px;
          padding: 5px;
        }
      }
      .rule{
        display:block;
        .checkbox{
          display: flex;
          align-items: baseline;
          justify-content: left;
          input{
            margin-right: 5px;

          }
        }
      }
      .btn{
        text-transform: uppercase;
      }
    }
  }
  @media screen and (max-width:430px) {
    padding: 10px 20px;
  }
}