.main-footer{
  max-width: 1422px;
  padding-top: 80px;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  .tm-subscribe-form {
    display: flex;
    align-items: center;
  }

  .tm-subscribe-form > input {
    padding: 5px 15px;
    margin-right: 20px;
    flex: 1;
    max-width: 382px;
  }
}