@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  overflow-x: hidden;
}
.tm-bg-black {
  background-color: rgba(0,0,0,0.5);
  color: white;
}
.tm-site-logo { font-size: 3rem; }
.tm-site-name {
  font-size: 1.9rem;
  color:  #fff;
}
.tm-bg-gray { background-color: #F4F4F4; }
.tm-text-primary { color: #3399CC; }
.tm-text-secondary { color: #3CAFAF; }
@media (min-width: 992px) {
  #tm-main-nav .nav-item { margin: 20px 40px; }
  .navbar-expand-lg .navbar-nav .nav-link { padding: 8px 0px; }
  .navbar-expand-lg .navbar-collapse { justify-content: flex-end; }
}

@media (max-width: 1419px) {
  .tm-catalog-item { margin-bottom: 30px; }
}

@media (max-width: 991px) {
  .navbar {
    max-width: 220px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
  }

  .navbar-collapse {
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    border-top-right-radius: 0;
    padding: 10px 15px;
  }

  .nav-item { margin-bottom: 10px; }

  .navbar-toggler {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 52px;
    height: 40px;
  }

  .navbar-toggler.collapsed {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  .navbar-toggler i.tm-menu-opened-icon { display: block; }
  .navbar-toggler i.tm-menu-closed-icon { display: none; }
  .navbar-toggler.collapsed i.tm-menu-opened-icon { display: none; }
  .navbar-toggler.collapsed i.tm-menu-closed-icon { display: block; }
  .tm-welcome-container-inner { margin-top: 150px; }
  .tm-welcome-text { font-size: 1.4rem; }

  #tm-video {
    width: 888px;
    height: 500px;
  }

  .tm-logo-container {
    height: 160px;
    width: 250px;
  }

  .tm-site-header { padding: 20px; }
  .tm-catalog-item-list { max-width: 924px; }
  .tm-share-box { max-width: 400px; }
}

@media (max-width: 879px) {
  .tm-categories-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 640px) {
  .tm-subscribe-form {
    flex-direction: column;
    align-items: stretch;
  }

  .tm-subscribe-form > input {
    max-width: 100%;
  }

  .tm-subscribe-form input {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .tm-share-box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 419px) {
  .tm-testimonial {
    flex-direction: column;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
